.large-section-item {
  display: flex;

  padding-bottom: 0.7rem;
  .large-section-item-icon {
    margin-right: 1.2rem;
    font-style: italic;
    color: grey;
  }
  .large-section-item-content {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    width: 100%;

    .large-section-item-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .large-section-item-company {
      font-size: 1rem;
      padding-left: 2px;
      font-weight: 500;
    }
    .large-section-item-period {
      font-size: 0.8rem;
    }

    .large-section-item-value {
      text-align: justify;
      font-size: 0.9rem;
      padding: 3px 0;
    }

    .large-section-item-details {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      color: #655a5a;
      padding: 0.2rem;
    }

    .large-section-item-tags {
      font-size: 0.9rem;
      font-weight: bold;
      color: grey;
    }
  }
}
