.section {
  display: flex;
  flex-direction: column;

  .section-header {
    display: flex;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
    padding-top: 1rem;

    .section-icon {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
    }
    .section-title {
      padding-left: 0.5rem;
      text-transform: uppercase;
    }
  }

  @import "Cv";
  @import "SmallSectionContent";
  @import "LargeSectionContent";
  @import "SkillsSectionContent";
  @import "EducationSectionContent";
  @import "Variables";
}
