.paper-sheet {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 21cm;
  max-height: 29.7cm;
  height: 29.7cm;
  margin: 50px;
  border: 1px solid darkgray;
  padding: 1.5rem;

  .content {
    display: flex;
    flex-grow: 1;
    margin-top: 2rem;
    
    
    .left-column {
      display: flex;
      flex-direction: column;
      width: 30%;
      border-right: 1px solid gray; 
      padding-right: 1.5rem;

      .phone {
        display: flex;
        .phone-icon{
          margin-right: 5px;
        }
      }
      .email {
        display: flex;
        .email-icon{
          margin-right: 5px;
        }
      }
      
    }
    .right-column {
      display: flex;
      flex-direction: column;
      padding-left: 1.5rem;
      flex-grow: 1;

      // .experiences {
      //   display: flex;
      // }
      // .skills {
      //   display: flex;
      // }
      // .education {
      //   display: flex;
      // }
      // .interests {
      //   display: flex;
      // }

    }
  }
}

@media print {
  @page { margin: 0; padding: 0; overflow: hidden;}
  .app {
    position: fixed;
    font-size: 1rem;
  }
  .paper-sheet {
    margin: 0px;
    border: 0px;
    padding: 1.5rem;
    overflow: hidden;
    max-height: 28.7cm;
    height: 28.7cm;
  }
}
