.section {
  display: flex;
  flex-direction: column;
  // height: 22%; 
  // background-color: purple;
  // visibility: hidden;

  .section-header {
    display: flex;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
    padding-top: 1rem;
    
    .section-icon {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
    }
    .section-title {
      padding-left: 0.5rem;
      text-transform: uppercase;
    }
  }

  .small-section-item {
    display: flex;
    padding-top: 1rem;
    .small-section-item-icon{
      margin-right: 5px;
    }
  }
  
  .large-section-item {
    display: flex;
    
    padding-bottom: 1rem;
    .large-section-item-icon{
      margin-right: 5px;
      font-style: italic;
      color: grey;
    }
    .large-section-item-content{
      display: flex;
      flex-direction: column;
      padding-top: 3px;

      .large-section-item-wrapper {
        display: flex;
        justify-content: space-between;
        font-style: italic;
        font-size: 0.9rem;
        font-weight: 600;
        color: grey;
      }

      .large-section-item-place {
        padding-left: 2px;
      }

      .large-section-item-value {
        text-align: justify;
        font-size: 0.9rem;
        padding: 3px 0;
      }

      .large-section-item-title {
        font-size: 1.2rem;
      }

      .large-section-item-tags {
        font-size: 0.9rem;
        font-weight: bold;
        color: grey;
      }
    }
  }
}