.section {
  display: flex;
  flex-direction: column;
  // height: 22%; 
  // background-color: purple;
  // visibility: hidden;

  .section-header {
    display: flex;
    font-size: 1.5rem;
    border-bottom: 2px solid gray;
    
    .section-icon {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
    }
    .section-title {
      padding-left: 0.5rem;
      text-transform: uppercase;
    }
  }

  .section-body {
    padding: 1rem;
  }
}